// app global css in SCSS form

.body--light {
    background-color: $light;
    .bg-light {
            background-color: $light;
            z-index: 100;
        }
}

.body--dark {
    background-color: $dark !important;
    .bg-light {
        background-color: $dark !important;
        z-index: 100 !important;
    }
}