// app global css in SCSS form

.bg-white {
    background-color: #ffffff;
}

.check-empty:empty {
	margin: 25px 0 0 -100px;
	width: 400px;
	height: 300px;

	background-image:
		linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% ),
		linear-gradient( lightgray 20px, transparent 0 ),
		linear-gradient( lightgray 20px, transparent 0 ),
		linear-gradient( lightgray 20px, transparent 0 ),
		linear-gradient( lightgray 20px, transparent 0 );

	background-repeat: repeat-y;

	background-size:
		50px 200px,
		150px 200px,
		350px 200px,
		300px 200px,
		250px 200px;

	background-position:
		0 0,
		120px 0,
		120px 40px,
		120px 80px,
		120px 120px;

	animation: shine 1s infinite;
}

@keyframes shine {
	to {
		background-position:
			100% 0,
			120px 0,
			120px 40px,
			120px 80px,
			120px 120px;
	}
}