<ion-item-divider>
  <ion-label style="text-align: center;">
    <strong>Falta pouco!</strong> como deseja continuar?
  </ion-label>
</ion-item-divider>

<ion-content>
  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
      <ion-label>Continuar com "nome"</ion-label>
    </ion-item>

    <ion-item href="#" class="ion-activated">
      <ion-icon name="logo-instagram" slot="start"></ion-icon>
      <ion-label>Continuar com "nome"</ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-label>Entrar com email ou telefone</ion-label>
    </ion-item>
  </ion-card>
</ion-content>