<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" width="500px">
      </ion-avatar>
      <ion-card-title>"nome"</ion-card-title>
    </ion-card-header>
  
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="navigate-outline" slot="start"></ion-icon>
      <ion-label>Rua xxxx, 24</ion-label>
      <ion-button fill="outline" slot="end">Editar</ion-button>
    </ion-item>
  
    <ion-card-content>
      Seus pedidos serão entregues neste endereço.
    </ion-card-content>
  </ion-card>
  
  <ion-row>
    <ion-col>
      <a color="danger" href="tabs/pedidos">Sair</a>
    </ion-col>
  </ion-row>

</ion-content>
